/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
html {
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}
a {
  color: #FFF;
}
.header {
  background-color: #17232B;
  height: 85px;
  color: #FFF;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.header__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.header-logo {
  font-size: 26px;
  margin-left: 10px;
}
.menu-list {
  display: flex;
}
.menu-list li {
  margin: 0 10px;
  font-size: 20px;
  transition: all .7s ease;
}
.header-menu .menu-list li:hover {
  color: #FFA97A;
  text-shadow: 1px 1px 15px #FFA97A;
}
.header-menu .menu-list li::after {
  display: block;
  content: '';
  width: 0%;
  height: 2px;
}
.header-menu .menu-list li:hover::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #FFA97A;
  box-shadow: 1px 1px 15px #FFA97A;
  transition: all .7s ease;
}

main {
  background-color: #1e293b;
}
.about {
  padding: 30px 0;
}
.about__body {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about-text {
  color: #FFF;
  font-size: 18px;
}
.about-name {
  font-size: 36px;
  display: inline-block;
  padding-top: 8px;
}
.about-position {
  display: inline-block;
  padding-top: 8px;
  color: #FFA97A;
}
.about-img {
  width: 20%;
  height: 20%;
}
.about-img img {
  width: 100%;
  height: 100%;
}
.about-buttons {
  width: 20%;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
}
.about-button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  margin: 0 5px;
  transition: all .7s ease;
}
.download-cv {
  border: 1px solid #FFA97A;
}
.download-cv:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 15px #FFA97A;
}
.download-cv span {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
}
.hireme {
  background-color: #FFA97A;
  color: #293241;
}
.hireme:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 15px #FFF;
}
.hireme span {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
}
.titles {
  font-size: 24px;
  text-shadow: 1px 1px 20px #FFA97A;
  color: #FFA97A;
  text-align: center;
}
.titles::after {
  display: block;
  content: '';
  width: 70%;
  height: 3px;
  margin: 0 auto;
  margin-top: 7px;
  background-color: #FFA97A;
  box-shadow: 1px 1px 10px #FFA97A;
  border-radius: 5px;
}
.about-title {
  padding-top: 20px;
}
.about-description {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}


.education-title {
  font-size: 24px;
  color: #959595;
  font-weight: 700;
  margin-bottom: 15px;
}
.education-name {
  font-size: 16px;
  color: #959595;
  line-height: 1.2;
  margin-bottom: 10px;
}
.education-date {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  opacity: .8;
} 
.about-info {
  width: 50%;
  font-size: 16px;
  color: #959595;
  text-align: center;
  line-height: 1.2;
  position: relative;
}
.about-info::after {
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #959595;
  position: absolute;
  right: 110%;
  bottom: 0%;
} 
.skills {
  padding: 30px 0;
}
.skills-container {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  justify-items: center;
}
.skill {
  position: relative;
  width: 150px;
  height: 150px;
  padding-top: 10px;
  border: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #FFF;
  transition: all .7s ease;
}
.skill:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 15px #FFF;
}
.skill-title {
  text-align: center;
  color: #FFF;
}
.circle-out { 
  position:relative; 
  margin: 0 auto;
  margin-top: 10px;
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  background: #FFF; 
  overflow: hidden; 
} 
.circle-in { 
  position: absolute; 
  width: 96px; 
  height: 96px; 
  margin: 2px; 
  border-radius: 50%; 
  background: #1e293b; 
} 

.progress { 
  height: 110px; 
  width: 220px; 
  background: #FFA97A; 
  position: absolute; 
  top:-110px; 
  left: -60px;  
  transform-origin: 110px 110px; 
  transition: all .3s; 
  z-index: 0;
} 
.percentange {
  position: absolute;
  top: 45%;
  left: 30%;
  font-size: 30px;
  color: #FFF;
}
.first-skill {
  transform: rotate(140deg);
}
.second-skill {
  transform: rotate(140deg);
}
.third-skill {
  transform: rotate(115deg);
}
.fourth-skill {
  transform: rotate(130deg);
}
.fifth-skill {
  transform: rotate(140deg);
}
.sixth-skill {
  transform: rotate(90deg);
}
.seventh-skill {
  transform: rotate(105deg);
}
.eight-skill {
  transform: rotate(70deg);
}
.ninth-skill {
  transform: rotate(35deg);
}


.projects {
  padding: 30px 0;
}
.projects-container {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 350px);
  grid-row-gap: 40px;
}
.project {
  padding: 10px;
  height: 200px;
  background-size: 350px 200px;
  background-repeat: no-repeat;
  border-radius: 10px;
  transition: all .7s ease;
}
.project:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 15px #FFF;
}
.first-project {
  background-image: url(../assets/img/museum.png);
}
.second-project {
  background-image: url(../assets/img/momentum.png);
}
.third-project {
  background-image: url(../assets/img/art-quiz.png);
}
.fourth-project {
  background-image: url(../assets/img/christmas-task.png);
}
.fifth-project {
  background-image: url(../assets/img/rsLang.png);
}
.project-title {
  font-size: 20px;
  font-weight: 700;
  color: #FFA97A;
}
.project-img {
  margin: 0 auto;
  width: 70%;
  height: 70%;
}
.project-img img {
  width: 100%;
  height: 100%;
}

.contacts {
  padding: 30px 0;
}
.contact-name {
  font-size: 18px;
}
.contact-name a {
  color: #FFA97A;
}
.contacts-container {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 450px);
  grid-row-gap: 40px;
  color: #FFF;
}
.contact {
  text-align: center;
}

.footer {
  padding: 30px 0;
  background-color: #FFA97A;
}
.footer-menu {
  width: 50%;
  margin: 0 auto;
}
.footer-menu .menu-list {
  justify-content: center;
}
.footer-menu .menu-list li::after {
  display: block;
  content: '';
  width: 0%;
  height: 2px;
}
.footer-menu .menu-list li:hover::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 1px 1px 15px #FFF;
  transition: all .7s ease;
}

.header__burger {
  display: none;
}

@media(max-width: 1430px) {
  .container {
    max-width: 1400px;
  }
  .contacts-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media(max-width: 1100px) {
  .container {
    max-width: 1050px;
  }
  .header {
    padding: 0 10px;
  }
  .projects-container {
    grid-template-columns: repeat(2, 250px);
  }
  .project {
    height: 150px;
    background-size: 250px 150px;
    margin: 0 auto;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    position: relative;
    z-index: 3;
    cursor: pointer;
  }
  .header__burger span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 45%;
      transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
  }
  .header__burger::before {
      top: 0;
  }
  .header__burger::after {
      bottom: 0;
  }
  .header__burger.active:before {
      transform: rotate(45deg);
      top: 8px;
  }
  .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 8px;
  }
  .header__burger.active span {
      transform: scale(0); 
  }
  .header-menu {
    position: fixed;
    top: 0;
    left: -200%;
    max-width: 100%;
    height: 100%;
    overflow:visible;
    background: rgba(0, 0, 0, .5);
    transition: all 0.4s ease;
    padding: 200px 10px 20px 120px; 
  }
  .header-menu .menu-list {
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
  }
  .menu-list li {
    margin: 0;
  }
  .menu-list a {
    padding-right: 50px;
  }
  .active {
    left: 0;
  }
  .about-first-container {
    position: relative;
    transition: all .8s ease;
  }
  .open-menu {
    transform: translateX(-700px)
  }
}

@media(max-width: 850px) {
  .container {
    max-width: 800px;
  }
  .about__body {
    flex-direction: column;
  }
  .about-img {
    width: 30%;
  }
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project {
    width: 250px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }
  .contacts-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-name {
    font-size: 16px;
  }
}

@media(max-width: 470px) {
  .container {
    max-width: 430px;
  }
  .about-img {
    width: 40%;
  }
  .skills-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-menu {
    width: 100%;
  }
  .footer-menu .menu-list a li{
    font-size: 16px;
  }
  .footer-menu .menu-list a {
    padding-right: 15px;
  }
}